body {
    background-color: #F5F3F2;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    
  }
  
  .game {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    border-radius: 10px;
    margin-left:110px;
    margin-right: -50px;
  }
  
  .cell {
    width: 20%;
    aspect-ratio: 1/1; 
    border: 1px solid #d48261;
    color:#F5F3F2;
    text-shadow: -2px -2px 0 #F58256, 2px -2px 0 #F58256, -2px 2px 0 #F58256, 2px 2px 0 #F58256;
    font-size: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f59670;
    
    
    /* border-radius: 8px 0px 0px 0px; */
  }

.zero {
  border-top-left-radius: 1.875rem;
  border-top: none;
  border-left: none;
  /* border: none; */
}

.three {
  border-top-right-radius: 1.875rem;
  border-top: none;
  border-right: none;
}

.fifteen {
  border-bottom-right-radius: 1.875rem;
  border-right: none;
  border-bottom: none;

}

.twelve {
  border-bottom-left-radius: 1.875rem;
  border-left: none;
  border-bottom: none;

}

.scores {
  display: flex;
  flex-direction: column;
  color:#F58256;
}

.toWin { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color:#F58256;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7rem 4rem;
  margin-left: 0px;
  margin-right: 150px;
}

.top {
  border-top: none;

}

.bottom {
  border-bottom: none;
  

}

.left {
  border-left: none;

}

.right {
  border-right: none;

}

h1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 160px;
  background-color: #F58256;
  padding: 20px 0px 30px 0px;
  text-align: center;
  border-radius: 2rem;
  font-size: 48px;
  color: #F5F3F2;
  letter-spacing: 3px;
}

.score, .win-amount {
 background-color: #F5C9D4;
 text-align: center;
 padding: 20px 30px;
 border-radius: 10rem;
 font-size: 40px;
 margin-top: 30px;
 color:#F5F3F2;
 text-shadow: -1px -1px 0 #F58256, 1px -1px 0 #F58256, -1px 1px 0 #F58256, 1px 1px 0 #F58256;
}

h3 {
  margin-bottom: 0;
  text-align: center;
  font-size: 29px;
  justify-self: start;
}

.button {
  display: flex;
}

button {
  /* position: relative; */
  height: 3rem;
  /* padding: 0px 20px; */
  margin-left: 0px;
}

.restart {
  margin-top: 300px;
  padding: 10px 20px;
  padding-bottom: 10px;
  border-radius: 8px;
  font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  color:#F5F3F2;
  background-color: #F5C9D4;
  font-size: 20px;
  text-shadow: -1px -1px 0 #F58256, 1px -1px 0 #F58256, -1px 1px 0 #F58256, 1px 1px 0 #F58256;
  border: none;
}

.restart:hover {
  background-color: #efabbb;
}

.restart:active {
  background-color: #e7bcc7;
  box-shadow: -2px 0px 5px #d48261;
}